@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,100&display=swap");

@media (max-width: 375px) {
  body {
    background-color: white;
  }

  header {
    margin-top: 40px;
  }

  .container {
    display: flex;
    justify-content: space-around;
    gap: 100px;
  }

  .item-1 {
    width: 50%;
  }

  .first-title {
    position: static;
    width: 260px;
    height: 150px;
    left: 24px;
    top: 114px;
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    line-height: 52px;
    display: flex;
    align-items: center;
    color: #172b4d;
    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 0;
  }

  .description {
    position: static;
    width: 327px;
    height: 146px;
    left: 24px;
    top: 276px;
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    color: #344563;
    flex: none;
    order: 1;
    flex-grow: 0;
    margin: 12px 0 0 0;
  }

  .connect {
    position: static;
    width: 200px;
    height: 24px;
    left: 0;
    top: 0;
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #7f8cff;
    flex: none;
    order: 0;
    flex-grow: 0;
  }

  .section-2 {
    display: flex;
    flex-direction: column;
  }

  ul {
    list-style-type: none;
    display: flex;
    flex-direction: row;

    gap: 20px;
    margin: 0;
    padding: 0;

  }

  .container-1 {
    background-image: url("images/header-shapes-mobile.png");
    background-repeat: no-repeat;
    padding: 114px 24px;
    height: 604px;
  }
}
